/****************************
*********** General *********
*****************************/
body {
  background-color: #73808c;
  color: #cecdc3;
}

a {
  color: #A3B6C8;
}

a:hover {
  color: #52575d;
}

.lead {
  line-height: 1.5;
}

/****************************
********* Jumbotron *********
*****************************/
.jumbotron {
  margin-top: 100px;
  background-color: rgba(198,194,189,.9);
}


/****************************
*********** Header  *********
*****************************/
#myNameNav {
  font-family: 'Changa One', sans-serif;
  font-size: 1.4em;
  font-weight: normal;
}

/****************************
*********** Navigation ******
*****************************/

/* Navbar elements text colors */
.navbar-inverse .navbar-brand { 
  color: #A3B6C8
}

.navbar-inverse .navbar-nav>li>a {
  color: #A3B6C8
}

/* This sets the color of the three stripes in the "hamburger"
   icon that is toggled to when the navbar collapses
   at smaller device sizes. */
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #A3B6C8;
}

/****************************
*********** Footer **********
*****************************/
.footer {
  color: rgba(127,134,140,1);
  font-size: .70em;
  padding-top: 5px;
  height: 40px;
  background-color: rgba(198,194,189,.9);
}

.social-icon {
  height: 20px;
  width: 20px;
  margin: 1px 5px;
}

/****************************
******** Page: Profile  *****
*****************************/

#vidHeadline {
  margin-bottom: 20px; 
}

.vidCaption {
  margin: 5px 0 10px;
}

  /* Added to push footer down */
#videoProjects {
  margin-bottom: 50px;
}

/****************************
***********Page: About  *****
*****************************/

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 100px auto 30px;
}

/****************************
***********Page: Contact ****
*****************************/

#primary {
  margin-top: 100px;
}

.contact-info {
  list-style: none;
  padding: 0;
  margin:0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}

/****************************
*********** Colors *********
*****************************/


