<main>    
  <section>   
    <div class="container narContent">
      <img src="img/ben2.jpg" alt="Photograph of Ben Boruff" class="profile-photo img-circle">
      <h3>About</h3>
      <p class="lead">Hi, I'm Ben Boruff! This is my personal webpage where I share information about myself, such as my interests, sample  apps, and resume. When I am not coding, I am either out walking or drinking very good coffee. As a matter of fact, I roast my own coffee.</p>
       <p class="pushDown">If you are interested in following me on Twitter, my username is @BenjaminBoruff.</p>
    </div>
  </section>
</main>
    
