<main>    
  <section>   
    <div class="container narContent">
      <img src="img/ben2.jpg" alt="Photograph of Ben Boruff" class="profile-photo img-circle">
      <h3>About</h3>
      <p class="lead">Hi, I'm Ben Boruff! This is my personal website where I share information about myself, such as my interests, sample  apps, and resume.</p>

      <h4>Programming</h4>
      <p>In the past, I have programed in Scheme, ANSI C/C++, Ruby, and a little Python. Now, I have commited to JavaScript. Using Angular on the frontend and Node on the backend has made the thin-server concept very appealing. As a matter of fact, it may herald the death of the thin-client architecture since modern client systems (including smartphones) are powerful enough to handle frontend-heavy JavaScript apps all by themselves. Additionally, using the same language on both the client and server is just plain ... logical.</p>

      <h4>Coffee</h4>
      <p>I roast my own coffee. I'm not sure if it is cheaper to buy and roast green coffee beans or not, but it sure is fun. The quality is certainly better than most "gourmet" coffee. I guess you could say that I'm a coffee snob. </p>

      <p>If I had to choose just one coffee to roast/brew/drink I would pick a humble Colombian. Having said that, I truly enjoy Ethiopian coffees. An Ethiopian Yirgacheffe would be my second choice, with a Harrar not far behind. </p>

      <h4>Space and Sci-fi</h4>
      <p>I have been a Space and Science Fiction fan for as long as I can remember. My father and I used to watch the original <em>Star Trek</em> series reruns when I was a kid. I also used to get up early on Saturdays to watch the old black and white <em>Flash Gordon</em> reruns on WGN. Remember <em>Space 1999</em>, with Martin Landau and Barbra Bain? Loved it. Bab5? Loved it. And of course, <em>Star Wars</em>....</p> 

      <p> My Dad and I also spent many hours building model rockets. I believe both of us were influenced by my great-grandmother, who was a big fan of the Mercury/Gemini/Apollo programs. I am proud to say that I'm old enough to have watched the Apollo-Soyuz rendezvous ... the last Apollo mission, and Deke Slayton's one and only ride into space. What an honor.</p>

       <p class="pushDown">If you are interested in following me on Twitter, my username is @BenjaminBoruff.</p>
    </div>
  </section>
</main>
    
