<main>
  <section>
    <div class="container narContent">
     <div class="row" id="primary">        
       <div class="col-sm-6">
         <h3>General Information</h3>
         <p>I am currently looking for contract or salaried work. Remote work would be great.</p>
         <p>Please use email to contact me.</p>
       </div>
       <div class="col-sm-6 pushDown">
         <h3>Contact Details</h3>
         <ul class="contact-info">
           <li class="mail"><a href="mailto:benboruff@gmail.com">benboruff@gmail.com</a></li>
           <li class="twitter"><a href="http://twitter.com/intent/tweet?screen_name=BenjaminBoruff">@BenjaminBoruff</a></li>
           <li class="github"><a href="http://github.com/benjaminboruff">benjaminboruff</a></li>
         </ul>
       </div>
     </div>
  </section>
</main>      