<header>
  <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid" id="main-nav-cont">
      <div class="navbar-header"><!-- Bootstrap navbar-header -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navTarget"><!-- "Hamburger" icon -->
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ng-click="navtop.selectBtn(1)" href="#index" id="brandTop"><span id="myNameNav">Benjamin Boruff
          </span><small id="brandSubHeading">Developer</small></a>
        
      </div><!-- End Bootstrap navbar-header -->
      <div class="collapse navbar-collapse" id="navTarget"><!-- Bootstrap collapsible navbar -->
        <ul class="nav navbar-nav navbar-right">
          <li ng-class="{ active:navtop.isSelected(1) }"><a ng-click="navtop.selectBtn(1)" href="#index">Home</a></li>
          <li ng-class="{ active:navtop.isSelected(2) }"><a ng-click="navtop.selectBtn(2)" href="#resume">Resume</a></li>
          <li ng-class="{ active:navtop.isSelected(3) }"><a ng-click="navtop.selectBtn(3)" href="#about">About</a></li>
          <li ng-class="{ active:navtop.isSelected(4) }"><a ng-click="navtop.selectBtn(4)" href="#contact">Contact</a></li>
        </ul>
      </div><!-- End collapsible navbar -->
    </div>
  </nav>
</header>