/****************************
*********** General *********
*****************************/
body {
  background-color: #73808c;
  color: #cecdc3;
}

a {
  color: #A3B6C8;
}

a:hover {
  color: #52575d;
}

.lead {
  line-height: 1.5;
}

  /* Added to push footer down */
.pushDown {
  margin-bottom: 50px;
}

#max720px {
  max-width: 720px;
}

/****************************
********* Jumbotron *********
*****************************/
.jumbotron {
  margin-top: 100px;
  background-color: rgba(198,194,189,.9);
  color: #666;
}

.well {
  padding: 10px;
  border-radius: 4px;
  border-color: rgba(115,128,140,0.1);
  background: rgba(115,128,140,0.95);
  color: #cecdc3;
}

/****************************
*********** Header  *********
*****************************/

.navbar-brand#brandTop {
  margin-bottom: -12px;
}

#myNameNav {
  display: block;
  font-size: 1.2em;
  font-weight: normal;
  margin-right: -15px;
}

#brandSubHeading {
  display: block;
  font-size: .8em;
  clear: left;
  margin: 0 auto 2px 16px;
  color: #A3B6C8
}


/****************************
*********** Navigation ******
*****************************/

/* colors of main top nav container */
#main-nav-cont {
    background-color: #990000;
    border-color: #000;
}

.navbar-nav > li > a {
  padding-bottom: 20px;
}

/* Navbar elements text colors */
.navbar-inverse .navbar-brand { 
  color: #A3B6C8
}

.navbar-inverse .navbar-nav>li>a {
  color: #A3B6C8
}

/* This sets the color of the three stripes in the "hamburger"
   icon that is toggled to when the navbar collapses
   at smaller device sizes. */
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #A3B6C8;
}

/****************************
*********** Footer **********
*****************************/
.footer {
  /*color: rgba(127,134,140,1);*/
  color: rgba(115,128,140,0.7);
  font-size: .70em;
  background-color: rgb(0,0,0);
}

.footer p {
  margin: 2px 0;
}

.social-icon {
  height: 20px;
  width: 20px;
  margin: 6px 5px 0;
  background-color: rgba(115,128,140,0.7);
  border-radius: 2px;
}

/****************************
******** Page: Profile  *****
*****************************/

#vidHeadline {
  margin-bottom: 20px; 
}

.vidCaption {
  margin: 5px 0 10px;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
  background-color:  #990000;
  color: #cecdc3;
}

.nav-tabs.nav-justified > li > a {
  border: 1px solid #444;
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #444;
}

/****************************
******** Page: Resume   *****
*****************************/

#resume {
  margin-top: 55px;
}

#objective,
#programming,
#education {
  border-bottom: 1px solid;
  padding-bottom: 5px;
}


/****************************
***********Page: About  *****
*****************************/

.container.narContent {
  max-width: 750px;
}

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 100px auto 30px;
}

/****************************
***********Page: Contact ****
*****************************/

#primary {
  margin-top: 100px;
}

.contact-info {
  list-style: none;
  padding: 0;
  margin:0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}
