<main>    
  <section>   
    <div class="container narContent">
      <img src="img/ben2.jpg" alt="Photograph of Ben Boruff" class="profile-photo img-circle">
      <h3>About</h3>
      <p class="lead">Hi, I'm Ben Boruff! This is my personal website where I share information about myself, such as my interests, philosophy, and resume.</p>

      <h4>Programming</h4>
      <p>In the past, I have programed in Scheme, ANSI C/C++, and Ruby. Now, I have commited to JavaScript, and PHP. In the near future, I also plan to pursue
        go (golang).</p>
      <p>Why PHP? Both PHP and Python are at their apex. They are both widely used, and offer many job opportunities in most local business/academic environments. 
        We can't, however, be an expert at everything. So I picked PHP because it seemed to be geared more towards social media and business than Python,
         which seems to be more applicable to scientific research/analysis. Obviously, Python/Django could certainly be used to build blogs and business oriented sites
         , but PHP/Laravel is designed specifically for those types of apps.  </p>
      <p>Why JS? JS is obviously required for any frontend development, and has been forever. JS skills, however, also translate to backend development with Node.js.
         JS/Node, along with their frameworks, are quickly becoming THE technologies of choice for many new projects. IMHO, Node will eventually supplant both
         Python and PHP within the next 5 to 10 years. PHP will still be around for a long time, especially given the big improvements in performance with PHP7.</p>
      <p>But lets face the fact that ALL technology is at its best right before if begins to fade. As a matter of fact, after peaking there is no place to go but
        down. JS <em>will be the future</em> for both frontend and backend development, just as PHP/Python/Ruby/Java has ruled the roost of backend development
        for the past decade. I believe asp.net, C# and other server-side technologies will also fade into the shadows of the rising JS/Node sun.
      </p>
      <p>So, we live in the now - PHP/Python/Ruby/etc; we see the coming near-future - JS/Node; but then what? Well, I believe in threes: beginning, middle, end; 
        first act, second act, third act; youth, middle age, old age; what is, what soon will be, what eventually may be. Thus I picked PHP for now and JS/Node
        for what will soon be. But what about the distant, foggy future? Well, that's hard to tell. I think the best we can do is keep an eye on the up-and-comers,
        and see what looks like it might have "legs". Right now, I think go (golang) has real potential for backend development. Some folks are already ditching Node for go.
        Personally, I think that is a bit premature, but worth keeping an eye on. I have played with go a bit and really like what I see. Certainly worth learning.
      </p>

      <h4>Coffee</h4>
      <p>I roast my own coffee. I'm not sure if it is cheaper to buy and roast green coffee beans or not, but it sure is fun. The quality is certainly better than most "gourmet" coffee. I guess you could say that I'm a coffee snob. </p>

      <p>If I had to choose just one coffee to roast/brew/drink I would pick a humble Colombian. Having said that, I truly enjoy Ethiopian coffees. An Ethiopian Yirgacheffe would be my second choice, with a Harrar not far behind. </p>

      <h4>Space and Sci-fi</h4>
      <p>I have been a Space and Science Fiction fan for as long as I can remember. My father and I used to watch the original <em>Star Trek</em> series reruns when I was a kid. I also used to get up early on Saturdays to watch the old black and white <em>Flash Gordon</em> reruns on WGN. Remember <em>Space: 1999</em>, with Martin Landau and Barbara Bain? Loved it. Bab5? Loved it. DS9 was probably my favorite ST series, second to TOS. And of course, <em>Star Wars</em>....</p> 

      <p> My Dad and I also spent many hours building model rockets. I believe both of us were influenced by my great-grandmother, who was a big fan of the Mercury/Gemini/Apollo programs. I am proud to say that I'm old enough to have watched the Apollo-Soyuz rendezvous ... the last Apollo mission, and Deke Slayton's one and only ride into space. What an honor.</p>

       <p class="pushDown">If you are interested in following me on Twitter, my username is @BenjaminBoruff.</p>
    </div>
  </section>
</main>
    
