<main>
  <section>
    <div class="container narContent">
     <div class="row" id="primary">        
       <div class="col-sm-6">
         <h3>General Information</h3>
         <p>I am currently looking for contract or salaried work. Remote work would be great.</p>
         <p>Please use email to contact me.</p>
       </div>
       <div class="col-sm-6 pushDown">
         <h3>Contact Details</h3>
         <ul class="contact-info">
           <li><a href="mailto:ben@boruff.me"><i class="fa fa-envelope fa-lg fa-fw"></i> ben@boruff.me</a></li>
           <li><a href="http://www.facebook.com/BHBoruff"><i class="fa fa-facebook fa-lg fa-fw"></i> Benjamin H Boruff</a></li>
           <li><a href="http://twitter.com/intent/tweet?screen_name=BenjaminBoruff"><i class="fa fa-twitter fa-lg fa-fw"></i> @BenjaminBoruff</a></li>
           <li><a href="http://github.com/benjaminboruff"><i class="fa fa-github fa-lg fa-fw"></i> benjaminboruff</a></li>
           <li><a href="http://www.linkedin.com/in/benjaminboruff"><i class="fa fa-linkedin fa-lg fa-fw"></i>  benjaminboruff</a></li>
         </ul>
       </div>
     </div>
  </section>
</main>      