<main>
  <section>
    <!-- Start Jumbotron -->
    <div class="container">
      <div class="jumbotron">
        <video-bg video-id="'aLQeqyOK4lE'">
          <div class="row">
            <div class="col-sm-6">
              <div class="well" id="leftinfo">
                <p>Welcome to my website. This site is an SPA written in AngularJS 1.x. Take a look at it on your mobile device, too!</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="well">
                <h4>{{pfctrl.apodData.title}}</h4>
                <div ng-show="pfctrl.apodData.error">
                  <h3>An ERROR has occurred retrieving the NASA Astronomy Picture of the Day. {{pfctrl.apodData.message}}</h3>
                </div>
                <div class="embed-responsive embed-responsive-16by9" ng-show="pfctrl.video">
                  <iframe class="embed-responsive-item" ng-src="{{pfctrl.apodData.url | trusted}}" allowFullScreen></iframe>
                </div>
                <div ng-hide="pfctrl.video">
                  <img class="img-responsive center-block" alt="NASA Picture of the day" ng-src="{{pfctrl.apodData.url}}">
                </div>
                <h5>{{pfctrl.apodData.explanation}}</h5>
                <h6>
                  <em>(Title, image/video, and explanation loaded automatically from NASA's APOD API endpoint. These data change daily.)</em>
                </h6>
              </div>
            </div>
          </div>
        </video-bg>
      </div>
    </div>
  </section>
  <!-- End Jumbotron -->
  <section>
    <!-- Video Projects -->
    <div class="container pushDown">
      <h4 align="center" id="vidHeadline">Video Projects from Production Class</h4>
      <tabset justified="true" id="max720px" class="center-block">
        <tab heading="TV Invasion!" id="tab-color">
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LwvTK2_G1-k" allowFullScreen></iframe>
          </div>
          <div align="center">
            <p class="vidCaption">TV Invasion! was a live-to-tape production that I wrote/directed.</p>
          </div>
        </tab>
        <tab heading="Murder and Merlot" id="tab-color">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VM7EUeYPjfk" allowFullScreen></iframe>
          </div>
          <div align="center">
            <p class="vidCaption">Murder and Merlot was my first video effort. Silent but silly.</p>
          </div>
        </tab>
      </tabset>
    </div>
  </section>
  <!-- End Video Projects -->
</main>