<main>
  <section>
    <div class="container narContent" id="resume">
      <div  id="objective">
        <h3>Objective</h3>
        <p>Build Web applications</p>
      </div>
      <div id="programming">
        <h4>Programming Skills</h4>
        <p>Frontend</p>
        <ul>
          <li>HTML/CSS (Bootstrap)</li>
          <li>JavaScript</li>
          <li>Angular 1.x</li>
        </ul>
        <p>Backend</p>
        <ul>
          <li>Node (Express)</li>
          <li>PHP (Laravel)</li>
          <li>MongoDB</li>
          <li>MySql</li>
          <li>PostgreSQL</li>
        </ul>
        <p>Dev tools: <em>git</em>, <em>gulp</em></p>
        <p>I have also started learning TypeScript in anticipation of Angular 2.</p>
      </div>
      <div id="education">
        <h4>Education</h4>
        <ul>
          <li>Master of Science, Kinesiology - Applied Sport Science (Indiana University)</li>
          <li>Bachelor of General Studies - 50/50 mix Latin and Telecommunications (Indiana University)</li>
          <li>Bachelor of Arts - Philosophy major with a Computer Science minor (Indiana University)</li>
        </ul>
      </div>
      <h4>Work Experience</h4>
      <ul>
        <li>Indiana University Security Engineer (Linux/Windows)</li>
        <li>Indiana University User Support Specialist/Lanlab Manager</li>
        <li>Indiana University Netware Admin/Support</li>
        <li class="pushDown">Indiana University User Support (hourly)</li>
      </ul>
    </div>
  </section>
</main>