<main>
  <section>
    <div class="container narContent" id="primary">
      <div  id="objective">
        <h4>Objective</h4>
        <p>Build single-page web applications using <em>TypeScript / JavaScript / AngularJS / ExpressJS / NodeJS / MongoDB</em></p>
      </div>
      <div id="programming">
        <h4>Programming Skills</h4>
        <p>Front end</p>
        <ul>
          <li>HTML/CSS</li>
          <li>JavaScript</li>
          <li>AngularJS 1.x</li>
        </ul>
        <p>Back end</p>
        <ul>
          <li>ExpressJS</li>
          <li>NodeJS</li>
          <li>MongoDB</li>
        </ul>
        <p>Versioning: <em>git</em></p>
        <p>Task runner: <em>gulp</em></p>
        <p>Editor: <em>sublime2</em> (ocasionally vim)</p>
        <p>Main OS: <em>Ubuntu Linux</em></p>
        <p>I have also started learning TypeScript in anticipation of Angular 2.0.</p>
      </div>
      <div id="education">
        <h4>Education</h4>
        <ul>
          <li>Master of Science, Kinesiology - Applied Sport Science (Indiana University, 2010)</li>
          <li>Bachelor of General Studies - 50/50 mix Latin and Telecommunications (Indiana University, 2005/06)</li>
          <li>Bachelor of Arts - Philosophy major with a Computer Science minor (Indiana University, 1995)</li>
        </ul>
      </div>
      <h4>Work Experience</h4>
      <ul>
        <li>Indiana University (UITS)<br> Security Engineer (Linux/Windows) 2000 - 2002</li>
        <li>Indiana University (UITS)<br> User Support Specialist/Lanlab Manager 1997 - 1999</li>
        <li>Indiana University (Telecommunications)<br> Netware Admin/Support 1996-1997</li>
        <li>Indiana University (UCS) <br> User Support (hourly) 1992 - 1996</li>
        <li>Fluck Limestone <br> Laborer (hourly) 1991 - 1992</li>
        <li>Ocean Warehouse <br> Sales Associate (hourly) 1990 - 1991</li>
        <li class="pushDown"> The Penguin <br> Ice cream job (hourly) 1987 - 1988 </li>
      </ul>
    </div>
  </section>
</main>